<!DOCTYPE html>
<html lang="en">

<head>
    <%= render partial: 'layouts/partials/common_head_tag', locals: {} %>

    <title><%= yield(:title) || "SB Admin 2" %></title>
    <style>
        .alert{
            margin-bottom: 0;
            border-radius: 0;
        }
    </style>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <% if notice %>
                            <p class="alert alert-success"><%= notice %></p>
                        <% end %>
                        <% if alert %>
                            <p class="alert alert-danger"><%= alert %></p>
                        <% end %>
                        <% if resource.errors.present? %>
                            <div class="alert alert-danger">
                                <% resource.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                <% end %>
                            </div>
                        <% end %>
                        <!-- Nested Row within Card Body -->
                        <%= yield %>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>

</html>